<h1>Users Offering Mentorship</h1>
<ul>
  <% @giving_mentorship.each do |user| %>
    <li><%= user.first_name %>
    <% unless Mentorship.exists?(current_user, user) %>
      <%= link_to 'Request Mentorship', { controller: "mentorships",
        action: "create", id: user.email, giving_mentorship: true }, method: "post",
        :confirm => "Send friend request to mentor #{user.first_name}
         #{user.last_name}?" %></li>

    <% end %>
  <% end %>
</ul>

<h1>Users Seeking Mentorship</h1>
<ul>
  <% @seeking_mentorship.each do |user| %>
    <li><%= user.first_name %>
    <% unless Mentorship.exists?(current_user, user) %>
      <%= link_to 'Offer Mentorship', { :controller => "mentorships",
          action: "create", :id => user.email, giving_mentorship: false }, method: "post",
          :confirm => "Send friend request to mentor #{user.first_name}
           #{user.last_name}?" %></li>
    <% end %>
  <% end %>
</ul>