<h1>Users Giving Mentorship</h1>
<% @giving_mentorship.each do |user| %>
  <%= user.first_name %>
  <% unless Mentorship.exists?(current_user, user) %>
    <%= link_to 'Request Mentorship', { :controller => "mentorships",
        :action => "create", :id => user.email },
        :confirm => "Send request to be mentored by #{user.first_name}
         #{user.last_name}?" %> 
  <% end %>
<% end %>

<h1>Users Seeking Mentorship</h1>
<% @seeking_mentorship.each do |user| %>
  <%= user.first_name %>
  <% unless Mentorship.exists?(current_user, user) %>
    <%= link_to 'Request Mentorship', { :controller => "mentorships",
        :action => "create", :id => user.email },
        :confirm => "Send friend request to mentor #{user.first_name}
         #{user.last_name}?" %> 
  <% end %>
<% end %>
